---

port: {{ chartmuseum_port }}
storage.backend: {{ chartmuseum_storage_backend }}
storage.local.rootdir: {{ chartmuseum_storage_local_rootdir }}
cache.store: {{ chartmuseum_cache_store }}
cache.redis.addr: {{ chartmuseum_cache_redis_addr }}
cache.redis.password: {{ chartmuseum_cache_redis_password }}
cache.redis.db: {{ chartmuseum_cache_redis_db }}
basicauth.user: {{ chartmuseum_basicauth_user }}
basicauth.pass: {{ chartmuseum_basicauth_password }}
authanonymousget: {{ chartmuseum_basicauth_anonymousget }}

